@import "tailwindcss";

:root{
    --background: hsl(220 20% 97%);
  --foreground: hsl(220 20% 10%);
  --card: hsl(0 0% 100%);
}

@font-face {
    font-family: china;
    src: url(./TWKLausanne-300.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,
body{
    height: 100%;
    width: 100%;
    background-color: var(--background);
}